// FOOTER

footer{
    background-color: #531253;
    margin-top: 10px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
    padding: 3rem;

    p{
        margin: 0;
        color: white;
        text-align: center;
    }
}