// MAIN

main {

  // TIENDA

  .tienda {
    display: grid;
    grid-template-columns: 30% 1fr;
    position: relative;
    place-content: center;

    // ASIDE

    .lista-categorias {
      background-image: linear-gradient(to bottom,#531253, #33032f);
      border-radius: 15px 0  15px 0;
      height: 750px;
      padding: 0.7rem;
      margin-inline: 1rem;
      display: flex;
      flex-direction: column;
      color: white;

      h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
        padding: 1.5rem;
        margin-bottom: 2.5rem;
      }

      ul {
        padding: 0;
        margin: 0;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
          list-style: none;
          transition: all ease-in-out 0.2s;
          cursor: pointer;
          display: flex;
          align-items: center;

          button {
            border: 0;
            background-color: transparent;
            text-decoration: none;
            font-size: 1.55rem;
            text-transform: uppercase;
            display: inline-block;
            transition: all ease-in-out 0.2s;
            color: white;
            width: 100%;
            padding: 1rem 0.5rem;
            text-align: start;
            cursor: pointer;

            &:hover {
              transform: translateX(10px);
              background-color: #531253;
              border-radius: 10px 0 10px 0;
            }
          }
        }
      }
    }

    // CARDS PRODUCTOS

    .productos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      place-content: start;

      .card-productos {
        border-radius: 9px 9px 0 0;
        background-color: #f3f1f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;

        img {
          width: 100%;
          object-fit: contain;
          height: 350px;
          border: 1px solid #dcdcdc;
          border-radius: 9px 9px 0 0;
        }

        .card-body-productos {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #bfbebe;
          padding: 1rem;

          h3 {
            font-style: italic;
            color: black;
            text-align: center;
            font-size: 1.7rem;
            font-weight: bold;
          }
        }

        .btn-carrito {
          background-color: #33032f;
          color: white;
          text-decoration: none;
          padding: 0.7rem 2rem;
          transition: all ease-in-out 0.2s;
          border: 0;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;

          &:hover {
            background-color: #531253;
          }
        }
      }
    }
  }
}
